<h1>Chicago 311 Woes</h1>

<p>The Open311 system in Chicago is a great resource for residents to easily report municipal issues in their neighborhood and be notified of those issues' resolution. However, entrenched bureaucracy is a powerful thing, and if your particular issue requires multiple departments to address, you may get stuck managing the undertaking yourself.</p>

<p><a href='/stories/example'>Read a real tale of 311 woe.</a></p>

<p><strong>The best way to fix this is to show the city, clearly and in detail, the amount of money that is wasted each year by insular departments not communicating with each other.</strong> If you have a tale of woe, please take a few minutes and share it with us.</p>

<a href='/stories/new' class='btn btn-default'>Share your story</a>
