<h1>Lorem Ipsum</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inde igitur, inquit, ordiendum est. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Quam si explicavisset, non tam haesitaret. Consequentia exquirere, quoad sit id, quod volumus, effectum. Duo Reges: constructio interrete. </p>

<p>Itaque ad tempus ad Pisonem omnes. Quid turpius quam sapientis vitam ex insipientium sermone pendere? <b>Primum quid tu dicis breve?</b> Satis est ad hoc responsum. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Itaque ad tempus ad Pisonem omnes. Itaque nostrum est-quod nostrum dico, artis est-ad ea principia, quae accepimus. Quia dolori non voluptas contraria est, sed doloris privatio. Iam id ipsum absurdum, maximum malum neglegi. </p>

<p>Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec. Dici enim nihil potest verius. Murenam te accusante defenderem. Ita fit cum gravior, tum etiam splendidior oratio. Theophrasti igitur, inquit, tibi liber ille placet de beata vita? Minime vero istorum quidem, inquit. Mihi enim erit isdem istis fortasse iam utendum. </p>

<a href='/stories/new' class='btn btn-default'>Share your story</a>