<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/components/bootstrap-datepicker/css/datepicker.css">
  <link rel="stylesheet" href="/css/styles.css">
  
  <script src='/components/jquery/dist/jquery.min.js'></script>
  <script src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='/components/bootstrap-datepicker/js/bootstrap-datepicker.js'></script>
  <script src='/components/moment/min/moment.min.js'></script>
  <script src='/components/mdblurb/mdblurb.js'></script>
  <script src='/js/app.js'></script>
</head>
<body class='{{pageClasses}}'>
  
  <div id='top_bar' class="navbar">
    <div class="container">
      <p class='navbar-left'><a href="/" class="navbar-brand">Chicago 311 Woes</a></p>
      
      {{#if false }}
      <form action="/search" class="search navbar-right form-inline">
        <input type="text" name='search' placeholder='Search...' class='form-control'>
        <input type="submit" value='Go' class='btn btn-primary'>        
        <div class="ribbon">&nbsp;</div>
      </form>
      {{/if}}

      {{#if loggedIn}}
      <ul class="nav navbar-nav fleft">
        <li><a href="/stories/unapproved">Unapproved</a></li>
        <li><a href="/stories">All</a></li>
      </ul>
      {{/if}}
      

    </div>
  </div>

  <div class='jumbotron'></div>
  
  
  <div id='content'>
    <div class="container">
    
      <div class="row">

        {{#if pageTitle}}        
        <h1 class='page-header'>{{pageTitle}}</h1>
        {{/if}}
        
        <div id='secondary_column' class="col-sm-4 col-md-3 col-sm-push-8 col-md-push-9">
          <nav role='navigation'>
            <ul class='nav nav-pills nav-stacked'>
              <li><a href="/">Home</a></li>
              <li><a href="/stories/new">Share Your Story</a></li>
              <li><a href="/stories/random">Random Story</a></li>
              <li><a href="/resources">Resources</a></li>
            </ul>
          </nav>
        </div>
  
        <div id='view_content' class="col-sm-8 col-md-9 col-sm-pull-4 col-md-pull-3">
          {{{body}}}
        </div>
      </div>
    </div>
  </div>
  <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
