<form action="/stories" method='post'>
  
  <div class="form-group">
    <label class="control-label">Summary</label>
    <textarea name="summary" id="summary" cols="30" rows="10" class="form-control"></textarea>
  </div>

  <div id='ticket_groups'>
    <div class='ticket-group'>
      <div class="col-sm-4 form-group">
        <label for="ticket_numbers[]" class="control-label">Ticket Number</label>
        <input type="text" name="ticket_numbers[]" class="form-control">
      </div>
  
      <div class="col-sm-8 form-group">
        <label for="ticket_descriptions[]" class="control-label">Ticket Description</label>
        <textarea name="ticket_descriptions[]" rows="4" class="form-control"></textarea>
      </div>
    </div><!-- .ticket-group -->
    
    <div id='story_controls' class="btn-group">
      <a id='add_ticket' class='btn btn-default' href="#">Add 311 Ticket</a>
      <input type='submit' id='submit_story' class='btn btn-submit' value='Submit' />
    </div>
  </div><!-- #ticket_groups -->
</form>